
{{#each imagenes}}
    <div class="card">
        <img src={{this.path}} alt={{this.title}}>
        <h3> {{this.title}} </h3>
        <p> {{this.description}} </p>
        <a href="/image/{{this._id}}/delete" class="btn">Eliminar</a>
    </div>
{{/each}}